adium-theme-ubuntu==0.3.4
appdirs==1.4.2
decorator==4.0.6
funcsigs==1.0.2
gyp==0.1
ipython==2.4.1
mock==2.0.0
numpy==1.21.0
packaging==16.8
pbr==2.0.0
pexpect==4.0.1
protobuf==3.2.0
ptyprocess==0.5
pyparsing==2.1.10
simplegeneric==0.8.1
six==1.10.0
tensorflow==1.15.4
unity-lens-photos==1.0
virtualenv==15.1.0
